.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: radial-gradient(
    var(--color-teal-green-medium),
    var(--color-teal-green-dark)
  );
}

.logo {
  color: var(--color-white);
  font-size: 50px;
  margin: 0;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.into {
  max-width: 75%;
  margin-bottom: 50px;
  color: var(--color-blue);
  font-weight: 600;
  font-size: large;
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.form__group {
  max-width: 80vw;
  margin: 0 auto;
}

.country__code {
  position: relative;
  text-align: center;
}

.form__select,
.form__select-value {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-white);
  font-size: 20px;
  outline: none;
  max-width: 60px;
  width: auto;
}

.form__select {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.form__select option {
  color: #000;
}

.form__input {
  width: 100%;
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-blue);
  color: var(--color-white);
  font-size: 20px;
  outline: none;
}

.form__input:focus {
  border-color: currentColor;
  color: var(--color-white);
}

.form__button {
  width: 200px;
  padding: 15px;
  margin-top: 50px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--color-teal-green-light);
  border-radius: 30px;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5);
  color: var(--color-teal-green-dark);
  transition: all 0.2s;
}

.form__button:hover {
  transform: translateY(-4px);
}

.form__button:active {
  transform: translateY(-2px);
  box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
  text-shadow: 1px 2px 2px rgb(255, 255, 255);
}
